<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">



<head>
    <title>Domenii</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    
	<link rel="stylesheet" type="text/css" href="../static/css/styleCSS.css" th:href="@{/css/styleCSS.css}"/>
	
	
    <style>
    	table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		}
		
		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}
		
		tr:nth-child(even) {
		    background-color: #dddddd;
		}
		#insertDomain{
			visibility: hidden;
		}
		table.center{
			
		}
    
    </style>
    
</head>

<body>

	<div class="container1111">
 		 <span class="text1">EJOBS</span>
 		 <span class="text2">Domeniile</span>
	</div>
  	<div class="container2222">
  	<section>
            <ul>
                <li><a class="active" href = "index">Home</a></li>	
				<li><a href = "domenii">Domenii</a></li>
				<li><a href = "firme">Firme</a></li>
				<li><a href = "locatii">Locatii</a></li>
				<li><a href = "meserii">Meserii</a></li>
				<li><a href = "cos_meserii">Cos Meserii</a></li>
            </ul>
        
    </section>
    </div>

  
    
	<table class="center">
		<thead>
			<tr>
				<th>id_domeniu</th>
				<th>nume_domeniu</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="domeniu: ${listaDomenii}">
				<td th:text="${domeniu.getIdDomeniu()}"></td>
				<td th:text="${domeniu.getNumeDomeniu()}"></td>
			</tr>
		</tbody>
	</table>

	
	<!-- =======================================================INSERARE=======================================-->
	
	 <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Inserează un domeniu</button>
	 
	 
     <div id="id01" class="modal">
  
		<form class="modal-content animate" action="/insertDomain" method="post">
			
			<div class="imgcontainer">
			  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
			  <img src="../img/companii-aeriene.jpg" alt="Avatar" class="avatar"/>
			</div>
		
			<div class="container">
			  <label><b>Nume domeniu</b></label>
			  <input type="text" placeholder="Introduceți numele domeniului" name="numeDomeniu" required="required"/>
			    
			  <button type="submit">Inserează</button>
			</div>

		  </form>
	</div>

<!--      ==========================================================DELETE===================================================-->

	<button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sterge un domeniu</button>

	<div id="id02" class="modal2">
  
		<form class="modal-content animate" action="/deleteDomain">
			
			<div class="imgcontainer">
			  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
			  <img src="../img/companii-aeriene.jpg" alt="Avatar" class="avatar"/>
			</div>
		
			<div class="container">
			  <label><b>Id-ul domeniului</b></label>
			  <input type="text" placeholder="Introduceți id-ul domeniului ce doriti a fi sters" name="idDomeniu" required="required"/>
			    
			  <button type="submit">Sterge</button>
			</div>

		  </form>
	</div>

	<!--===========================================================UPDATE======================================================-->
		<button onclick="document.getElementById('id03').style.display='block'" style="width:auto;">Edit Domeniu</button>

	<div id="id03" class="modal3">
  
		<form class="modal-content animate" action="/updateDomain" method="get">
			
			<div class="imgcontainer">
			  <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
			  <img src="../img/companii-aeriene.jpg" alt="Avatar" class="avatar"/>
			</div>
		
			<div class="container">
			  <label><b>Id-ul domeniului</b></label>
			  <input type="text" placeholder="Introduceți id-ul domeniului ce il doriti a modifica" name="idDomeniu" required="required"/>

			  <label><b><center><h2>Noile date pentru Domeniu</h2></center></b></label>
			  <label><b>Nume domeniu</b></label>
			  <input type="text" placeholder="Introduceți numele domeniului" name="numeDomeniu" required="required"/>  
			  <button type="submit">Update</button>
			</div>

		  </form>
	</div>
	
	


  <script type="text/javascript">
  
  	//=============================================================INSERARE================================
  	 // Get the modal
  	var modal = document.getElementById('id01');

  	// When the user clicks anywhere outside of the modal, close it
  	window.onclick = function(event) {
  	    if (event.target == modal) {
  	        modal.style.display = "none";
  	    }
  	}
//==================================================================DELETE===============================
  	 // Get the modal
  	var modal2 = document.getElementById('id02');

  	// When the user clicks anywhere outside of the modal, close it
  	window.onclick = function(event) {
  	    if (event.target == modal2) {
  	        modal2.style.display = "none";
  	    }
  	}

  	//=====================================================UPDATE===========================
  	var modal3 = document.getElementById('id03');

  	// When the user clicks anywhere outside of the modal, close it
  	window.onclick = function(event) {
  	    if (event.target == modal3) {
  	        modal3.style.display = "none";
  	    }
  	}
  </script>
  
</body>

</html>