<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Administrare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>

    
    
</head>

<body>
	<div class="container1111">
 		 <span class="text1">Cautare locuri de munca</span>
 		 <span class="text2">EJOBS</span>
	</div>
  	<div class="container2222">
  	<section>
            <ul>
                <li><a class="active" href = "index">Home</a></li>	
				<li><a href = "domenii">Domenii</a></li>
				<li><a href = "firme">Firme</a></li>
				<li><a href = "locatii">Locatii</a></li>
				<li><a href = "meserii">Meserii</a></li>
				<li><a href = "cos_meserii">Cos Meserii</a></li>
            </ul>
        
    </section>
    </div>
	<div class = "images">
	
		<div class="row">
			<div class="column">
			
				<a href="/domenii" >
					<div class="textWithBlurredBg">
						<img src="../img/domenii.jpg" alt="Domenii" width="48%" height="50%"/>
						<h2> Domenii </h2>
					</div>
				</a>
				
				<a href="/firme" >
					<div class="textWithBlurredBg">
						<img src="../img/firme.jpg" alt="Firme" width="48%" height="50%"/>
						<h2> Firme </h2>
					</div>
				</a>
			</div>
			
			<div class="column">
			
				<a href="/locatii" >
					<div class="textWithBlurredBg">
						<img src="../img/locatii.jpg" alt="Locatii" width="48%" height="50%"/>
						<h2> Locatii </h2>
					</div>
				</a>

     

				<a href="/meserii">
					<div class="textWithBlurredBg">
						<img src="../img/meserii.jpg" alt="Meserii" width="48%" height="50%"/>
						<h2> Meserii </h2>
					</div>
				</a>
			</div>
		
		</div>
	
	
	</div>
  
  
</body>

</html>